.footer
{
        width: 100%;     
        height: 20rem;
        margin: 81px 0 0;
        padding:5rem 0 0;
        background-color:white;
        color: white;
        background:url('../assets/img/footer.png');
}
.footerLogo
{
        text-align: left;
}

.info
{
    padding: 10rem 5 5;
    text-align: center;
    padding-top: 2rem;
}

.infoHeading
{
        
}




.footerCol
{
        padding:0 5rem;
        padding-top: 2rem;
}

.text
{
        /* width: 319px;
        height: 44px;
       
        font-family: LibreBaskerville;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;*/
        
        color: #ffffff;
        padding-top: 2rem;
    

}
.follow
{
    color:white;
    text-align: right;
}