

.organic {
    width: 148px;
    height: 56px;
    margin: 0.5px 329px 177px 9.5px;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #374b5c
  }

  .navList
  {
    margin-left: 8rem;
  }

  .navItem{
    color: #374b5c;
    font-size: 1.2rem;
  }