.testimonial 
{
    position: relative;
}

.greenleaf
{
    left: 0;
    position: absolute;
}

.icon
{
    border-radius: 50%;
}

.TestimonialName
{
    font-size: 1.6rem;
}

.TestimonialText
{
    font-size: 1rem;
    width: 33rem;
    margin: 0 auto;
}

.test .react-multi-carousel-dot button
{
    background:white !important;
    border-color: #00dbd0;
}

.test .react-multi-carousel-dot--active button
{
    background: #00dbd0 !important;
}

.Subscribe
{
    margin-top: 10rem;
}

.SubHeading 
{
    font-size: 2.2rem;
    margin: 1rem auto;
}

.SubText
{
    font-size: 1rem;
    width: 35rem;
    margin: 1rem auto;
}

.SubInput
{
    border-color: transparent;
    width: 35.563rem;
  height: 4.313rem;
  margin: 4.125rem 1.144rem 7.278rem 1.207rem;
  padding: 0 0 0 3.531rem;
  background-color: rgba(255, 255, 255, 0.11);
}

.SubLabel
{
    width: 10.438rem;
  height: 4.313rem;
  margin: 0 0 0 -13rem;
  padding: 1.313rem 2.844rem 1.5rem;
  border-radius: 30px;
  background-color: #00dbd0;
}